@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
	background-color: black;
}

fieldset {
	margin: 0.5em;
}

fieldset > label {
	margin: 0.5em;
}

#buttons-container {
	position: absolute;
	right: 5px;
	display: flex;
	flex-direction: column;
}

.top-div {
	flex 1;
}

.botton-div {
	flex: 1;
	display: none;
}

#logo-container {
	text-align: center;
}

#logo {
	padding: 0px 10px 0px 10px;
/*
	display: inline-block;
	margin: 0 auto;
*/
	font-family: Montserrat;
	font-size: 50px;
	color: white;
	background-color: black;
	text-shadow: -3px -3px grey;
}

#logo .first {
	font-size: 70px;
}

#logo .red {
	color: #ed1c24;
}

#content-container {
	display: flex;
 	flex-direction: row;
}

.left-div {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.right-div {
	flex: 0.7;
	display: none;
	flex-direction: column;
}

#rounds-container {
	flex: 0.8;
}

#log-container {
	flex: 1;
}


#grid {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border-collapse: collapse;
	width: 100%;
	line-height: 8px;
}

#grid td, #grid th {
	border: 1px solid #888888;
	border-right: 2px solid black;
	border-left: 2px solid black;
	padding: 5px;
	text-align: center;
}

#grid th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #ed1c24;
	color: white;
}
/*
#grid tr:nth-child(even){
	background-color: #dddddd;
}

#grid tr:nth-child(odd){
	background-color: white;
}
*/

#grid tr {
	background-color: white;
}

#grid tr.header {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 100%;
	background-color: #ffff88;
	font-weight: bold;
}

#grid tr.header>td {
	border: none;
}

#grid .cards {
/*	width: 120px;*/
	text-align: left;
	border-right: 2px solid black;
}

#grid .empty-cards {
/*	width: 120px;*/
	text-align: left;
	border-right: 2px solid black;
	background-color: lightsalmon;
}

#grid .missing-cards {
/*	width: 120px;*/
	text-align: left;
	border-right: 2px solid black;
	text-decoration: line-through;
	background-color: lightsalmon;
}


#grid .green {
	background-color: lightgreen;
}

#grid .red {
	background-color: lightsalmon;
}

#grid .yellow-text {
	color: yellow;
}

#grid th.cards {
	background-color: grey;
	visibility: hidden;
	border: none;
}

#grid td:empty::after{
	content: "\00a0";
}

#rounds {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border-collapse: collapse;
	width: 100%;
	line-height: 8px;
	height: 100%;
}

#rounds td, #rounds th {
	border: 1px solid #888888;
	border-right: 2px solid black;
	border-left: 2px solid black;
	padding: 5px;
}

#rounds th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #ed1c24;
	color: white;
}

#rounds-cell {
	background-color: #e0f0f0;
	height: 100%;
	vertical-align: top;
	text-align: left;
	padding: 0px !important;
}

#rounds-table {
	width: 100%;
}

#rounds-table th {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	background-color: #ffff88;
	font-weight: bold;
	color: black;
}

#rounds-table tr.header>td {
	border: none;
}

#rounds-container table {
	padding: 5px;
	border-collapse: collapse;
}

#rounds-div {
	height: 100%;
	overflow: auto;
}

#log {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border-collapse: collapse;
	width: 100%;
	line-height: 8px;
	background-color: #ed1c24;
	color: white;
	height: 100%;
}

#log-cell {
	background-color: #e0f0f0;
	height: 100%;
	vertical-align: top;
	text-align: left;
}

#log-div {
	font-family: monospace;
	line-height: normal;
	white-space: pre;
	overflow: auto;
	height: 100%;
}

#sliders {
	display: flex;
	flex-flow: row wrap;
}

.custom-label {
	width: 20%;
	margin-top: 3%;
}

.custom-slider {
	width: 70%;
	margin-top: 3%;
	margin-bottom: 3%;
}

.custom-handle {
	border-radius: 15px;
	width: 3em !important;
	height: 1.6em !important;
	top: 50% !important;
	margin-top: -.8em;
	text-align: center;
	line-height: 1.6em;
	outline: none;
}

#sliders-total-container {
	float: right;
}

#sliders-total {
	font-weight: bold;
}

.total-error {
	color: #ed1c24;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


